body{
  background-color: rgb(99, 186, 157);
}

.scope {
    margin-left: 75vh;
    margin-top: 15vh;
    padding-bottom: 10vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   /* background: #0f2027;*/
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    
  }
  .scope {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: slid 30s linear infinite;
  }
  
  .scope span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
  }
  .scope span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
  }
  .scope span:hover img {
    transform: translateY(-0.1em) scale(1.3);
  }
  @keyframes slid {
    0% {
      transform: perspective(1000px) rotateY(0deg);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg);
    }
  }


  label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid rgb(96, 248, 91);
    border-radius: 20px;
}
label:before{
    position: absolute;
    content: '';
    width:20px;
    height: 20px;
    left: -1px;
    top: -1px;
    border-radius: 50%;
    background: rgb(224, 124, 31);
    cursor: pointer;
    transition: 0.4s;
}
label.active:before{
    left: 22px;
    background: rgb(135, 96, 226);
}
body.night{
  background: rgb(26, 24, 24);
  color: #fff;
}